body{
    padding: 0;
    margin: 0;
    background-color: rgb(241, 241, 236);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  background-color: #0A7BBD;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.change{
    display: block;
    border-radius: 10px;
    width: 340px;
    height: 380px;
    background-color: #F1981E;
    top: 10%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 20%);
    box-sizing: border-box;
    padding: 20px 20px;
}

h2{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.label_form{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.text_input{
    width: 90%;
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(10, 123, 189);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color:#FFF;
}

.button_formE{
    width: 45%;
    background-color: #0A7BBD;
    color: white;
    border:none;
    font-size: 24px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.button_formE:hover{
    opacity: 0.8;
    color: white;
}

.button_formC{
    width: 45%;
    background-color: #E3E3E3;
    color: #555555;
    border:none;
    font-size: 24px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.button_formC:hover{
    opacity: 0.8;
    color: grey;
}