<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Static/estilosDocente.css">
    <link rel="icon" href="../Static/Images/IconoFunlam.png" style="width:fit-content; height: fit-content; position: relative;">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docente</title>
</head>
<body>
    <section class="container">
        <div class="sidebar">
          <div class="side-hide">
            <i>X</i>
          </div>
          <ul>
        <!--Opciones-->
          <li><a href="#slide1">Inicio</a></li>
          <li><a href="#slide3">Lector</a></li>
          <li><a href="#slide2">Matriculas por cursos</a></li>
          <li><a href="https://academia.funlam.edu.co/seguimientoacademico/sistema/index.jsf">Seguimiento academico</a></li>
          <li><a href="https://academia.funlam.edu.co/uenlinea/sistema/estudiante/index.jsf">Eventos</a></li>
          <li><a href="https://academia.funlam.edu.co/uenlinea/sistema/index.jsf">Horario</a></li>
          <li><a href="https://www.funlam.edu.co/modules/registroacademico/item.php?itemid=44">Calendario academico</a></li>
        </ul>
        </div>
        <!--Contenido-->
        <div class="content">
            <button class="botonMenu"><img src="../Static/Images/menu.png" width="50px" height="50px"></button>
            <img src="../Static/Images/LogoFunlam.png" width="450" height="100">
            <h1>Universidad Catolica Luis Amigo</h1>
            <ul class="slider">
              <li id="slide1">
                <p class="text">Bienvenido al portal de servicios de la Universidad Católica Luis Amigó.</p>
                <p class="text">En la parte superior veras un boton para abrir el menu de opciones.</p>
                <p class="text">Esperamos que tu experiencia sea grata.</p>
              </li>
                <li id="slide2">2</li>
                <li id="slide3">
                  <img src="../Static/Images/qrD.png">
                </li>
             </ul>
            <p class="timertext"></p><span class="secs"></span></p>
        </div>
        <!--Boton salir-->
        <div class="Exit">
            <a href="main.html"; style="top: 750px">Regresar</a>
        </div>
    </section>
    <div class="image">
      <img src="../Static/Images/Snorlapp.png" width="170" height="100" style="position: fixed; top: 87%;; left: 87%"/>
  </div>
</body>
</html>

 <!--Funcion para el slide-->
 <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 <script language="Javascript">
   $("button").on('click', function(){
     $(".container").toggleClass("show");
   });

   $(".side-hide").on('click', function(){
     $(".container").toggleClass("show")
   });
</script>
<!--Temporizador de cierre-->
<script type="text/javascript">
 var currSeconds = 0;
  
 $(document).ready(function() {

     /* Increment the idle time
         counter every second */
     let idleInterval = setInterval(timerIncrement, 1000);

     /* Zero the idle timer
         on mouse movement */
     $(this).mousemove(resetTimer);
     $(this).keypress(resetTimer);
 });

 function resetTimer() {

     /* Hide the timer text */
     document.querySelector(".timertext").style.display = 'none';
      
     currSeconds = 0;
 }

 function timerIncrement() {
     currSeconds = currSeconds + 1;
    
     if(currSeconds>60){
       window.location="main.html";
       window.alert("Tu cuenta se ha cerrado por inactividad");
     }
 }
</script>