<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/estiloPassword.css">
    <link rel="icon" href="static/Images/IconoFunlam.png" style="width:fit-content; height: fit-content; position: relative;">
    <title>Recuperar</title>
</head>
<body>
<img src="../static/Images/LogoFunlam.png" width="450" height="100" style="position: relative; left: 34%;">
<h1>Universidad Católica Luis Amigo</h1>
    <form action="query/recuperacion.php" method="post">
        <div class="recuperar">
            <h2>Recuperar tu cuenta</h2>
            <label class="label_form">Ingresa tu usuario para buscar tu cuenta.</label>
            <br><br><input type="text" name="usuario" class="text_input" placeholder="Ingresa tu usuario" minlength="8" required autofocus>
            <br><input type="text" name="cedula" minlength="6" class="text_input" placeholder="Ingrese su numero de documento">
            <br><a href="main.html"><input type="button" class="button_formC" value="Cancelar"></a>
            <input type="submit" class="button_formE" value="Enviar">
        </div>
    </form>
    <div class="image">
        <img src="../static/Images/Snorlapp.png" width="170" height="100" style="position: fixed; top: 87%;; left: 87%"/>  
      </div>
</body>
</html>