<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../Static/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRO</title>
</head>
<body>
    <div class="img" class="image_qr">
        <img src="../Static/Images/qrO.png">
    </div>
    <div class="Exit">
        <a href="main.html"; style="top: 750px">Regresar</a>
    </div>
    <div class="image">
        <img src="../Static/Images/Snorlapp.png" width="220" height="150" style="position: fixed; top: 80%;; left: 82%"/>
    </div>
</body>
</html>